bot
config/BinanceKeys.txt
config/CoinexKeys.txt
config/HitBTCKeys.txt
config/KucoinKeys.txt
config/NobitexKeys.txt
log*
LastUSDTInExchanges
config/HodlingHistory.json
config/HodlingParams.json
config/Orders.json
tools/timer.sh
